<!DOCTYPE html>
<html>
<head>
    <title></title>
	<meta charset="utf-8" />
</head>
<body ng-app="myApp" ng-controller="MyController">
	<div>
		{{person.name}}
		<br>
		{{person.age}}
		
		<input ng-model="person.name"/>
		<div ng-repeat="friend in person.friends">
			<div>{{friend.name}} {{friend.age}} </div>
			</div>
		</div>
		<button ng-click="fireFriends()">I want to be alone</button>
		<input ng-model="newFriendName"/>
		<button ng-click="addFriend()">Add a friend</button>
		<div>
			<input ng-model="calculator.a"/>
			<input ng-model="calculator.b"/>
			<span ng-bind="calculator.sum()"/>
			</div>
    <script src="Scripts/angular.js"></script>
    <script src="Scripts/app.js"></script>
</body>
</html>
