
<div class="row">
    <div ng-app="moviesApp" ng-controller="moviesCtrl">
        <div ng-repeat="movie in movies">
            <h2>{{movie.name}}</h2>
        </div>
    </div>
</div>
<script src="~/Scripts/angular.js"></script>
<script src="~/Scripts/app.js"></script>