<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="myBehavior">
                    <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service behaviorConfiguration="myBehavior" name="SportsServer.SportService">
                <endpoint address="http://localhost:9999" binding="basicHttpBinding"
                    bindingConfiguration="" contract="SportsServer.ISportService" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:9999" />
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
</configuration>